langchain
langgraph
langchain_community
langchain_core
langchain_groq
fastapi
uvicorn
watchdog
langgraph-cli[inmem]
python-dotenv

# Use below command to run langgraph using cli.
# uvx --python 3.12 --from "langgraph-cli[inmem]" --with-editable . langgraph dev